<form method="post" action="?class=Form&method=salvar">
    <div>
      <label for="estilo">Estilo:</label>
      <input type="text" name="estilo" id="estilo" required maxlength="100" />
    </div>
    <div>
      <label for="cor">Cor:</label>
      <input type="color" name= "cor" id="cor" required maxlength="100" />
    </div>
    <div>
      <label for="tamanho">Tamanho:</label>
      <input type="number" name="tamanho" id="tamanho" required />
    </div>
    <div>
      <button type="submit">Salvar</button>
    </div>
  </form>