<table>
  <thead>
    <tr>
      <th>Estilo</th>
      <th>Cor</th>
      <th>Tamanho</th>
      <th>Editar</th>
      <th>Apagar</th>
    </tr>
  </thead>
  <tbody>
    {linha}
    <tr>
      <td>{estilo}</td>
      <td>{cor}</td>
      <td>{tamanho}</td>
      <td>
        <button
          class="edit"
          type="button"
          onclick="location.href='?class=Form&method=editar&id={id}'"
        >
          Editar
        </button>
      </td>
      <td>
        <button
          class="remove"
          type="button"
          onclick="if(confirm('Deseja realmente apagar?'))
            location.href='?class=Tabela&method=remover&id={id}'"
        >
          Remover
        </button>
      </td>
    </tr>
    {/linha}
  </tbody>
</table>